In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

We've talked about Random Forests. Now it's time to build one.

Here we'll use data from Lending Club to predict the state of a loan given some information about it. You can find the dataset [here](https://www.lendingclub.com/info/download-data.action). We'll use 2015 data. ([Thinkful mirror](https://www.dropbox.com/s/m7z42lubaiory33/LoanStats3d.csv?dl=0))

In [2]:
# Replace the path with the correct path for your data.
y2015 = pd.read_csv(
    'C:\\Users\\maken\\y2015.csv',
    skipinitialspace=True,
    header=1
)

# Note the warning about dtypes.

C:\Users\maken\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
y2015.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount
0,NaN,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## The Blind Approach

Now, as we've seen before, creating a model is the easy part. Let's try just using everything we've got and throwing it without much thought into a Random Forest. SKLearn requires the independent variables to be be numeric, and all we want is dummy variables so let's use `get_dummies` from Pandas and see what happens off of this kind of naive approach.

In [7]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)

cross_val_score(rfc, X, Y, cv=5)

TypeError: '>' not supported between instances of 'str' and 'float'

Did your kernel die? My kernel died.

Guess it isn't always going to be that easy...

Can you think of what went wrong?

(You're going to have to reset your kernel and reload the column, BUT DON'T RUN THE MODEL AGAIN OR YOU'LL CRASH THE KERNEL AGAIN!)

## Data Cleaning

Well, `get_dummies` can be a very memory intensive thing, particularly if data are typed poorly. We got a warning about that earlier. Mixed data types get converted to objects, and that could create huge problems. Our dataset is about 400,000 rows. If there's a bad type there its going to see 400,000 distinct values and try to create dummies for all of them. That's bad. Lets look at all our categorical variables and see how many distinct counts there are...

In [3]:
categorical = y2015.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

id
2
term
2
int_rate
111
grade
7
sub_grade
35
emp_title
120812
emp_length
12
home_ownership
4
verification_status
3
issue_d
12
loan_status
7
pymnt_plan
2
desc
34
purpose
14
title
27
zip_code
914
addr_state
49
earliest_cr_line
668
revol_util
1211
initial_list_status
2
last_pymnt_d
31
next_pymnt_d
4
last_credit_pull_d
32
application_type
2
verification_status_joint
1
hardship_flag
2
hardship_type
1
hardship_reason
8
hardship_status
3
hardship_start_date
6
hardship_end_date
7
payment_plan_start_date
7
hardship_loan_status
4

Well that right there is what's called a problem. Some of these have over a hundred thousand distinct types. Lets drop the ones with over 30 unique values, converting to numeric where it makes sense. In doing this there's a lot of code that gets written to just see if the numeric conversion makes sense. It's a manual process that we'll abstract away and just include the conversion.

You could extract numeric features from the dates, but here we'll just drop them. There's a lot of data, it shouldn't be a huge problem.

In [4]:
# Convert ID and Interest Rate to numeric.
y2015['id'] = pd.to_numeric(y2015['id'], errors='coerce')
y2015['int_rate'] = pd.to_numeric(y2015['int_rate'].str.strip('%'), errors='coerce')

# Drop other columns with many unique variables
y2015.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
            'sub_grade', 'addr_state', 'desc'], 1, inplace=True)

Wonder what was causing the dtype error on the id column, which _should_ have all been integers? Let's look at the end of the file.

In [10]:
y2015.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount
42537,NaN,NaN,5000.0,5000.0,0.0,36 months,7.75,156.11,A,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Remove two summary rows at the end that don't actually contain data.
y2015 = y2015[:-2]

Now this should be better. Let's try again.

In [12]:
pd.get_dummies(y2015)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,last_credit_pull_d_Sep-09,last_credit_pull_d_Sep-10,last_credit_pull_d_Sep-11,last_credit_pull_d_Sep-12,last_credit_pull_d_Sep-13,last_credit_pull_d_Sep-14,last_credit_pull_d_Sep-15,last_credit_pull_d_Sep-16,application_type_INDIVIDUAL,hardship_flag_N
0,NaN,NaN,5000.0,5000.0,4975.00000,10.65,162.87,24000.00,27.65,0.0,...,0,0,0,0,0,0,0,0,1,1
1,NaN,NaN,2500.0,2500.0,2500.00000,15.27,59.83,30000.00,1.00,0.0,...,0,0,0,0,0,0,0,0,1,1
2,NaN,NaN,2400.0,2400.0,2400.00000,15.96,84.33,12252.00,8.72,0.0,...,0,0,0,0,0,0,0,0,1,1
3,NaN,NaN,10000.0,10000.0,10000.00000,13.49,339.31,49200.00,20.00,0.0,...,0,0,0,0,0,0,0,0,1,1
4,NaN,NaN,3000.0,3000.0,3000.00000,12.69,67.79,80000.00,17.94,0.0,...,0,0,0,0,0,0,0,0,1,1
5,NaN,NaN,5000.0,5000.0,5000.00000,7.90,156.46,36000.00,11.20,0.0,...,0,0,0,0,0,0,0,0,1,1
6,NaN,NaN,7000.0,7000.0,7000.00000,15.96,170.08,47004.00,23.51,0.0,...,0,0,0,0,0,0,0,1,1,1
7,NaN,NaN,3000.0,3000.0,3000.00000,18.64,109.43,48000.00,5.35,0.0,...,0,0,0,0,0,0,0,0,1,1
8,NaN,NaN,5600.0,5600.0,5600.00000,21.28,152.39,40000.00,5.55,0.0,...,0,0,0,0,0,0,0,0,1,1
9,NaN,NaN,5375.0,5375.0,5350.00000,12.69,121.45,15000.00,18.08,0.0,...,0,0,0,0,0,0,0,0,1,1
10,NaN,NaN,6500.0,6500.0,6500.00000,14.65,153.45,72000.00,16.12,0.0,...,0,0,0,0,0,0,0,0,1,1
11,NaN,NaN,12000.0,12000.0,12000.00000,12.69,402.54,75000.00,10.78,0.0,...,0,0,0,0,0,0,0,0,1,1
12,NaN,NaN,9000.0,9000.0,9000.00000,13.49,305.38,30000.00,10.08,0.0,...,0,0,0,0,0,0,0,0,1,1
13,NaN,NaN,3000.0,3000.0,3000.00000,9.91,96.68,15000.00,12.56,0.0,...,0,0,0,0,0,0,0,0,1,1
14,NaN,NaN,10000.0,10000.0,10000.00000,10.65,325.74,100000.00,7.06,0.0,...,0,0,0,0,0,0,0,0,1,1
15,NaN,NaN,1000.0,1000.0,1000.00000,16.29,35.31,28000.00,20.31,0.0,...,0,0,0,0,0,0,0,0,1,1
16,NaN,NaN,10000.0,10000.0,10000.00000,15.27,347.98,42000.00,18.60,0.0,...,0,0,0,0,0,0,0,0,1,1
17,NaN,NaN,3600.0,3600.0,3600.00000,6.03,109.57,110000.00,10.52,0.0,...,0,0,0,0,0,0,0,0,1,1
18,NaN,NaN,6000.0,6000.0,6000.00000,11.71,198.46,84000.00,18.44,2.0,...,0,0,0,0,0,0,0,0,1,1
19,NaN,NaN,9200.0,9200.0,9200.00000,6.03,280.01,77385.19,9.86,0.0,...,0,0,0,0,0,0,0,0,1,1
20,NaN,NaN,20250.0,20250.0,19142.16108,15.27,484.63,43370.00,26.53,0.0,...,0,0,0,0,0,0,0,0,1,1
21,NaN,NaN,21000.0,21000.0,21000.00000,12.42,701.73,105000.00,13.22,0.0,...,0,0,0,0,0,0,0,0,1,1
22,NaN,NaN,10000.0,10000.0,10000.00000,11.71,330.76,50000.00,11.18,0.0,...,0,0,0,0,0,0,0,0,1,1
23,NaN,NaN,10000.0,10000.0,10000.00000,11.71,330.76,50000.00,16.01,0.0,...,0,0,0,0,0,0,0,0,1,1
24,NaN,NaN,6000.0,6000.0,6000.00000,11.71,198.46,76000.00,2.40,0.0,...,0,0,0,0,0,0,0,0,1,1
25,NaN,NaN,15000.0,15000.0,15000.00000,9.91,483.38,92000.00,29.44,0.0,...,0,0,0,1,0,0,0,0,1,1
26,NaN,NaN,15000.0,15000.0,8725.00000,14.27,514.64,60000.00,15.22,0.0,...,0,0,0,0,0,0,0,0,1,1
27,NaN,NaN,5000.0,5000.0,5000.00000,16.77,123.65,50004.00,13.97,3.0,...,0,0,0,0,0,0,0,0,1,1
28,NaN,NaN,4000.0,4000.0,4000.00000,11.71,132.31,106000.00,5.63,1.0,...,0,0,0,0,0,0,0,0,1,1
29,NaN,NaN,8500.0,8500.0,8500.00000,11.71,281.15,25000.00,12.19,0.0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42510,NaN,NaN,6000.0,6000.0,1200.00000,13.12,202.51,12000.00,4.40,0.0,...,0,0,0,1,0,0,0,0,1,1
42511,NaN,NaN,5350.0,5350.0,625.00000,13.12,180.57,4000.00,15.00,0.0,...,0,0,0,0,0,0,0,0,1,1
42512,NaN,NaN,1900.0,1900.0,900.00000,9.64,61.00,100000.00,10.00,NaN,...,0,0,0,0,0,0,0,0,1,1
42513,NaN,NaN,10000.0,10000.0,350.00000,14.70,345.18,50000.00,7.22,2.0,...,0,0,0,0,0,0,0,0,1,1
42514,NaN,NaN,2000.0,2000.0,1275.00000,7.12,61.87,150000.00,5.60,0.0,...,0,0,0,0,0,0,0,0,1,1
42515,NaN,NaN,6000.0,6000.0,650.00000,10.59,195.28,20000.00,12.90,0.0,...,0,0,0,0,0,0,0,0,1,1
42516,NaN,NaN,4400.0,4400.0,1400.00000,9.64,141.25,30000.00,3.72,0.0,...,0,0,0,0,0,0,0,0,1,1
42517,NaN,NaN,1200.0,1200.0,500.00000,9.01,38.17,36000.00,3.27,NaN,...,0,0,0,0,0,0,0,0,1,1
42518,NaN,NaN,5000.0,5000.0,375.00000,11.22,164.23,28000.00,3.51,NaN,...,0,0,0,0,0,0,0,0,1,1
42519,NaN,NaN,1400.0,1400.0,475.00000,10.91,45.78,40000.00,8.61,NaN,...,0,0,0,0,0,1,0,0,1,1
42520,NaN,NaN,1000.0,1000.0,625.00000,14.07,34.21,25000.00,16.27,NaN,...,0,0,0,0,0,0,0,0,1,1
42521,NaN,NaN,5000.0,5000.0,300.00000,7.75,156.11,300000.00,5.38,NaN,...,0,0,0,0,0,0,0,0,1,1
42522,NaN,NaN,2500.0,2500.0,225.00000,7.43,77.69,66624.00,10.36,NaN,...,0,0,0,0,0,0,0,0,1,1
42523,NaN,NaN,3000.0,3000.0,250.00000,7.43,93.23,80000.00,0.39,NaN,...,0,0,0,0,0,0,0,0,1,1
42524,NaN,NaN,2600.0,2600.0,575.00000,8.38,81.94,6500.00,6.46,NaN,...,0,0,0,0,0,0,0,0,1,1
42525,NaN,NaN,1000.0,1000.0,625.00000,7.12,30.94,50000.00,1.10,NaN,...,0,0,0,0,0,0,0,0,1,1
42526,NaN,NaN,1275.0,1275.0,0.00000,12.49,42.65,40000.00,10.00,NaN,...,0,0,0,0,0,0,0,0,1,1
42527,NaN,NaN,6450.0,6450.0,0.00000,11.22,211.85,32000.00,10.00,NaN,...,0,0,0,0,0,0,0,0,1,1
42528,NaN,NaN,10500.0,10500.0,275.00000,11.22,344.87,60000.00,19.50,NaN,...,0,0,0,0,0,0,0,0,1,1
42529,NaN,NaN,3000.0,3000.0,125.00000,9.01,95.42,35000.00,10.00,NaN,...,0,0,0,0,0,0,0,0,1,1
42530,NaN,NaN,3000.0,3000.0,0.00000,9.33,95.86,20000.00,10.00,NaN,...,0,0,0,0,0,0,0,0,1,1
42531,NaN,NaN,2000.0,2000.0,225.00000,9.96,64.50,6000.00,10.00,NaN,...,0,0,0,0,0,0,0,0,1,1
42532,NaN,NaN,6500.0,6500.0,0.00000,9.64,208.66,20000.00,10.00,NaN,...,0,0,0,0,0,0,0,0,1,1
42533,NaN,NaN,3500.0,3500.0,225.00000,10.28,113.39,180000.00,10.00,NaN,...,0,0,0,0,0,0,0,0,1,1
42534,NaN,NaN,1000.0,1000.0,0.00000,9.64,32.11,12000.00,10.00,NaN,...,0,0,0,0,0,1,0,0,1,1
42535,NaN,NaN,2525.0,2525.0,225.00000,9.33,80.69,110000.00,10.00,NaN,...,0,0,0,0,0,0,0,0,1,1
42536,NaN,NaN,6500.0,6500.0,0.00000,8.38,204.84,NaN,4.00,NaN,...,0,0,0,0,0,0,0,0,1,1
42537,NaN,NaN,5000.0,5000.0,0.00000,7.75,156.11,70000.00,8.81,NaN,...,0,0,0,0,0,0,0,0,1,1
42538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
42539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

It finally works! We had to sacrifice sub grade, state address and description, but that's fine. If you want to include them you could run the dummies independently and then append them back to the dataframe.

## Second Attempt

Now let's try this model again.

We're also going to drop NA columns, rather than impute, because our data is rich enough that we can probably get away with it.

This model may take a few minutes to run.

In [5]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

#cross_val_score(rfc, X, Y, cv=10)

The score cross validation reports is the accuracy of the tree. Here we're about 98% accurate.

That works pretty well, but there are a few potential problems. Firstly, we didn't really do much in the way of feature selection or model refinement. As such there are a lot of features in there that we don't really need. Some of them are actually quite impressively useless.

There's also some variance in the scores. The fact that one gave us only 93% accuracy while others gave higher than 98 is concerning. This variance could be corrected by increasing the number of estimators. That will make it take even longer to run, however, and it is already quite slow.

## DRILL: Third Attempt

So here's your task. Get rid of as much data as possible without dropping below an average of 90% accuracy in a 10-fold cross validation.

You'll want to do a few things in this process. First, dive into the data that we have and see which features are most important. This can be the raw features or the generated dummies. You may want to use PCA or correlation matricies.

Can you do it without using anything related to payment amount or outstanding principal? How do you know?

Once you've taken a stab at this, review this [example solution]().

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
# Replace the path with the correct path for your data.
y2015 = pd.read_csv(
    'C:\\Users\\maken\\y2015.csv',
    skipinitialspace=True,
    header=1,
    skipfooter=2
)

# Note the warning about dtypes.

C:\Users\maken\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

In [5]:
# Convert ID and Interest Rate to numeric.
y2015['id'] = pd.to_numeric(y2015['id'], errors='coerce')
y2015['int_rate'] = pd.to_numeric(y2015['int_rate'].str.strip('%'), errors='coerce')

In [11]:
# Your code here.

X = y2015[['loan_amnt','funded_amnt','funded_amnt_inv','term','int_rate','installment','grade','emp_length','home_ownership','annual_inc','verification_status','issue_d','pymnt_plan','purpose','title','dti','delinq_2yrs','inq_last_6mths','mths_since_last_delinq','mths_since_last_record','open_acc','pub_rec','revol_bal','total_acc','initial_list_status','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int','total_rec_late_fee','recoveries','collection_recovery_fee','last_pymnt_d','last_pymnt_amnt']]
Y = y2015['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

print(X)

        loan_amnt  funded_amnt  funded_amnt_inv  int_rate  installment  \
0           35000        35000          35000.0     11.99       778.38
1           20000        20000          20000.0     12.88       672.73
2            7200         7200           7200.0      9.17       229.53
3           28000        28000          28000.0     14.85       663.92
4           10000        10000          10000.0      7.91       312.95
5           16000        16000          16000.0     13.44       367.67
6           23975        23975          23975.0     19.89       633.73
7           10000        10000          10000.0     11.99       222.40
8           16250        16250          16250.0     13.44       373.41
9           20200        20200          20200.0     18.49       518.35
10          17600        17600          17600.0     19.89       465.22
11          30000        30000          30000.0     15.77      1051.31
12           1500         1500           1500.0      6.49        45.97
13          10000        10000          10000.0     10.78       326.35
14          23100        23100          23100.0     20.50       618.46
15           9000         9000           9000.0      9.17       286.92
16          15000        15000          15000.0      5.32       451.73
17          10000        10000          10000.0     16.59       246.33
18          27300        27300          27300.0     17.27       977.00
19          15000        15000          15000.0     10.78       324.50
20           7200         7200           7200.0     17.27       257.67
21           5000         5000           5000.0      9.80       160.87
22          12000        12000          12000.0     10.78       391.62
23           3600         3600           3600.0     11.48       118.68
24          18000        18000          18000.0      7.49       559.83
25          16800        16800          16800.0     12.88       381.23
26          21000        21000          21000.0     13.99       488.53
27           8650         8650           8650.0      5.32       260.50
28          20000        20000          20000.0      9.80       643.47
29          16000        16000          16000.0     13.99       372.21
...           ...          ...              ...       ...          ...
421065      10300        10300          10300.0     13.66       237.86
421066      13000        13000          13000.0      8.19       408.52
421067      15000        15000          15000.0     11.99       498.15
421068      20000        20000          20000.0      6.99       617.46
421069      18700        18700          18700.0     17.86       473.44
421070      23000        23000          23000.0     15.59       554.32
421071       6000         6000           6000.0     17.86       216.50
421072      26950        26950          26950.0      8.19       846.88
421073      15000        15000          15000.0     11.44       329.44
421074      26500        26500          26500.0      8.67       545.87
421075      25000        25000          25000.0     15.59       602.52
421076      25000        25000          25000.0     15.99       607.82
421077      21000        21000          21000.0      6.03       639.15
421078       8000         8000           8000.0      8.19       251.40
421079       7000         7000           7000.0     14.31       240.30
421080      12000        12000          12000.0      9.49       384.34
421081      10000        10000          10000.0      6.49       306.45
421082      13150        13150          13150.0     14.99       312.77
421083       6225         6225           6225.0     16.49       220.37
421084      10775        10775          10775.0      6.03       327.95
421085       4000         4000           4000.0      8.67       126.59
421086       7500         7500           7500.0      9.49       240.22
421087      10850        10850          10850.0     19.24       399.04
421088      12000        12000          12000.0     11.99       398.52
421089      11575        11575          11575.0     15.59       404.61
421090      10000        10000          10000.0     11.99       332.10
421091      24000        24000          24000.0     11.99       797.03
421092      13000        13000          13000.0     15.99       316.07
421093      12000        12000          12000.0     19.99       317.86
421094      20000        20000          20000.0     11.99       664.20

        annual_inc    dti  delinq_2yrs  inq_last_6mths  open_acc  \
0         128000.0   6.46            0               0        17
1         145000.0  12.28            0               0        12
2          50000.0  19.25            0               0        13
3          85000.0  28.52            0               0        19
4          40100.0  10.81            0               1         4
5          42000.0   9.60            0               0        29
6          70000.0  33.20            0               1        10
7          42500.0  31.04            0               1        10
8          50000.0  34.95            0               0        15
9          60000.0  34.84            0               0        10
10         44000.0  17.56            0               0         7
11        175000.0  18.50            0               1         9
12         45000.0  16.11            0               0        12
13         41600.0  15.78            0               0        18
14        110000.0  20.43            0               0        11
15         50000.0  11.98            0               2         5
16         80000.0  20.18            0               1        30
17         30000.0  30.84            0               2        19
18         65000.0  25.63            0               0        14
19         65000.0  29.28            0               0        18
20         20000.0  13.21            1               1         8
21         72000.0   6.52            0               0        11
22         40000.0  31.95            3               0        16
23         85000.0  17.44            0               2        12
24         75000.0  25.65            0               1        12
25        118000.0  34.29            0               0        11
26         52000.0  14.47            0               1         5
27        100000.0   7.28            0               0        15
28         75000.0  23.45            0               0        14
29        142000.0  17.74            2               2        15
...            ...    ...          ...             ...       ...
421065     93600.0  15.72            1               0        13
421066     85000.0   8.05            1               0         8
421067     70000.0   8.47            0               0         8
421068     72000.0  27.24            0               1        15
421069     52000.0  11.28            0               0         8
421070     50000.0  31.95            0               0        13
421071     90000.0   2.84            0               0         9
421072     54000.0  18.11            0               0        14
421073     57000.0  15.77            0               0         8
421074     92000.0  29.60            1               0        10
421075     55000.0   5.52            0               0         9
421076    103000.0   5.27            0               0         5
421077     65000.0  17.09            0               0        11
421078     50000.0  17.62            0               1        11
421079     57000.0  16.80            2               3        13
421080     40000.0  25.65            1               0         8
421081     75000.0  33.66            0               0         9
421082     30000.0   1.00            0               0         3
421083     27000.0  18.58            0               1         3
421084     54000.0  13.22            1               0         9
421085     50000.0  12.63            0               0        11
421086     40000.0  25.63            0               0        10
421087     32000.0  29.44            0               1         9
421088     63000.0  23.69            1               0        13
421089     25400.0  27.08            0               0         9
421090     31000.0  28.69            0               0         9
421091     79000.0   3.90            0               1         5
421092     35000.0  30.90            0               0         9
421093     64400.0  27.19            1               2        17
421094    100000.0  10.83            0               1         8

                ...            last_pymnt_d_Mar-2017  last_pymnt_d_May-2015  \
0               ...                                0                      0
1               ...                                0                      0
2               ...                                0                      0
3               ...                                0                      0
4               ...                                0                      0
5               ...                                0                      0
6               ...                                0                      0
7               ...                                0                      0
8               ...                                0                      0
9               ...                                0                      0
10              ...                                0                      0
11              ...                                0                      0
12              ...                                0                      0
13              ...                                0                      0
14              ...                                0                      0
15              ...                                0                      0
16              ...                                0                      0
17              ...                                0                      0
18              ...                                0                      0
19              ...                                0                      0
20              ...                                0                      0
21              ...                                0                      0
22              ...                                0                      0
23              ...                                0                      0
24              ...                                0                      0
25              ...                                0                      0
26              ...                                0                      0
27              ...                                0                      0
28              ...                                1                      0
29              ...                                0                      0
...             ...                              ...                    ...
421065          ...                                0                      0
421066          ...                                0                      0
421067          ...                                0                      0
421068          ...                                0                      0
421069          ...                                0                      0
421070          ...                                0                      0
421071          ...                                0                      0
421072          ...                                0                      0
421073          ...                                0                      0
421074          ...                                0                      0
421075          ...                                0                      0
421076          ...                                0                      0
421077          ...                                0                      0
421078          ...                                0                      0
421079          ...                                0                      0
421080          ...                                0                      0
421081          ...                                0                      0
421082          ...                                0                      0
421083          ...                                0                      0
421084          ...                                0                      0
421085          ...                                0                      0
421086          ...                                0                      0
421087          ...                                0                      0
421088          ...                                0                      0
421089          ...                                0                      0
421090          ...                                0                      0
421091          ...                                0                      0
421092          ...                                0                      0
421093          ...                                0                      0
421094          ...                                0                      0

        last_pymnt_d_May-2016  last_pymnt_d_May-2017  last_pymnt_d_Nov-2015  \
0                           0                      0                      0
1                           0                      0                      0
2                           0                      0                      0
3                           0                      0                      0
4                           0                      0                      0
5                           0                      0                      0
6                           0                      0                      0
7                           0                      0                      0
8                           0                      0                      0
9                           0                      0                      0
10                          0                      0                      0
11                          0                      0                      0
12                          0                      0                      0
13                          0                      0                      0
14                          0                      0                      0
15                          0                      0                      0
16                          0                      0                      0
17                          0                      0                      0
18                          0                      0                      0
19                          0                      0                      0
20                          0                      0                      0
21                          0                      0                      0
22                          0                      0                      0
23                          0                      1                      0
24                          0                      0                      0
25                          0                      0                      0
26                          0                      0                      0
27                          0                      0                      0
28                          0                      0                      0
29                          0                      0                      0
...                       ...                    ...                    ...
421065                      0                      0                      0
421066                      0                      0                      0
421067                      0                      0                      0
421068                      0                      0                      0
421069                      0                      0                      0
421070                      0                      0                      0
421071                      0                      0                      0
421072                      0                      0                      0
421073                      0                      0                      0
421074                      0                      0                      0
421075                      0                      0                      0
421076                      0                      0                      0
421077                      0                      0                      0
421078                      0                      1                      0
421079                      0                      0                      0
421080                      0                      0                      0
421081                      0                      0                      0
421082                      0                      0                      0
421083                      0                      0                      0
421084                      0                      0                      0
421085                      0                      0                      0
421086                      0                      0                      0
421087                      0                      0                      0
421088                      0                      0                      0
421089                      0                      0                      0
421090                      0                      0                      0
421091                      0                      0                      0
421092                      1                      0                      0
421093                      0                      0                      0
421094                      0                      1                      0

        last_pymnt_d_Nov-2016  last_pymnt_d_Oct-2015  last_pymnt_d_Oct-2016  \
0                           0                      0                      0
1                           0                      0                      0
2                           0                      0                      0
3                           0                      0                      0
4                           0                      0                      0
5                           0                      0                      0
6                           0                      0                      0
7                           0                      0                      0
8                           0                      0                      0
9                           0                      0                      0
10                          0                      0                      0
11                          0                      0                      0
12                          0                      0                      0
13                          0                      0                      0
14                          0                      0                      0
15                          0                      0                      0
16                          0                      0                      0
17                          0                      0                      0
18                          0                      0                      1
19                          0                      0                      0
20                          0                      0                      0
21                          0                      0                      0
22                          0                      0                      0
23                          0                      0                      0
24                          0                      0                      0
25                          0                      0                      0

In [12]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

# Modify the X values to correspond to the kept features only.

rfc = ensemble.RandomForestClassifier()
#X = pca_fit #features to keep go here
X = pd.get_dummies(X)
X = X.dropna(axis=1)
Y = y2015['loan_status']

cross_val_score(rfc, X, Y, cv=10)

C:\Users\maken\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:581: Warning: The least populated class in y has only 8 members, which is too few. The minimum number of groups for any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

array([ 0.98100394,  0.97665804,  0.97285809,  0.98123961,  0.97803268,
        0.97746271,  0.97979006,  0.97591907,  0.97862588,  0.97883962])

After going through the data and removing the columns that had a high number of NaN values or too many unique values, the rfc was still above 90%.