# Notes from Meeting with Grae:
    Compare the models predictions / how much the program would generate in returns as compared to just putting money into Vanguard / S&P 500.
    
    Look at Ryan Mitchell's notebook https://github.com/ryan-t-mitchell/thinkful/blob/master/Unit%203%20Capstone%20Final/Thinkful%20Unit%203%20Capstone%20Project.ipynb and pp https://github.com/ryan-t-mitchell/thinkful/blob/master/Unit%203%20Capstone%20Final/Thinkful%20Unit%203%20Capstone%20Project.pptm pres to see how he built his models.

# Unit 3 Capstone Project
  ## Matthew Kennedy, August 2017

   ## Section 1: Overview of Dataset and Analysis of Data
   
   The dataset used in this project comes from Kaggle user "CNuge." The dataset contains historical stock prices over the last five years for all companies in the S&P 500 index and can be found at https://www.kaggle.com/camnugent/sandp500. This project will use the files that have the historical prices for individual stocks.   
       
   The dataset contains the following columns: 
       
       Date - In the format of yy-mm-dd
       Open - Price of the stock in USD at market open
       High - Highest price reached in the day
       Low Close - Lowest price reached in the day
       Volume - Number of shares traded
       Name - The stock's ticker name
       
   The user collected the data by using the python library, 'pandas_datareader,' to scrape Google Finance.

In [1]:
# Import the necessary modules
import pandas as pd
import numpy as np
import scipy
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn import linear_model
from sklearn import preprocessing
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVR
from sklearn import ensemble
from sklearn import datasets
from sklearn.utils import shuffle
from sklearn.metrics import mean_squared_error

In [2]:
# This project will use the historical prices of GOOGL

# Read the Dataset, store the original
# This is the filepath on my laptop:
original = pd.read_csv('C:\\Users\\mkennedy\\sandp500\\individual_stocks_5yr\\GOOGL_data.csv', encoding='utf-8-sig')
# This is the filepath on my desktop:
# original = pd.read_csv('C:\\Users\\mkenn\\)

In [3]:
# Copy a dataframe of the original data to manipulate
data = original

# Print the headers of the dataframe
data.head()

         Date    Open    High     Low   Close   Volume   Name
0  2012-08-13  324.03  330.41  323.66  330.34  3268073  GOOGL
1  2012-08-14  329.95  336.76  329.83  334.66  3662178  GOOGL
2  2012-08-15  335.48  337.46  332.38  334.10  2411100  GOOGL
3  2012-08-16  334.09  337.66  333.87  336.77  1717691  GOOGL
4  2012-08-17  337.40  338.96  336.19  338.91  2177896  GOOGL

In [4]:
# Check the footer to make sure there are no rows of text
data.tail()

            Date    Open    High     Low   Close   Volume   Name
1253  2017-08-07  947.52  948.96  943.50  945.75  1445754  GOOGL
1254  2017-08-08  944.29  952.49  942.48  944.19  1505064  GOOGL
1255  2017-08-09  938.45  943.76  933.92  940.08  1400852  GOOGL
1256  2017-08-10  935.00  936.30  921.78  923.59  2707393  GOOGL
1257  2017-08-11  923.71  933.36  921.22  930.09  1616708  GOOGL

There are no footers that need to be excluded.
There are 606,800 rows of stock data.

In [5]:
# The describe method provides some additional information about the data
data.describe()

              Open         High          Low        Close        Volume
count  1258.000000  1258.000000  1258.000000  1258.000000  1.258000e+03
mean    616.760469   621.377719   611.501638   616.599809  2.076615e+06
std     170.726853   171.626054   169.458607   170.631830  1.081167e+06
min     323.320000   326.830000   318.320000   323.910000  5.211410e+05
25%     510.217500   514.237500   504.365000   508.212500  1.453572e+06
50%     579.000000   583.625000   573.405000   579.170000  1.820138e+06
75%     758.737500   765.280000   754.065000   759.822500  2.343574e+06
max    1005.490000  1008.610000   996.620000  1004.280000  1.285814e+07

In [6]:
# The dtypes call will display the data types. 
# This is used to make sure all numerical values have the correct data type to work with in the models.
print(data.dtypes)

Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
Name       object
dtype: object

The dataset appears to be clean and easy to work with.

## Section 2: Creation and Comparison of Predictive Models

Now that the data has been analyzed to ensure it can be manipulated, it is time to create some predictive models. For comparison, the scores from the models will be stored in a new table, titled "Model Comparison."

In [31]:
# Create a table to store the scores for each model.
# Title: Model Comparison
# Columns: Model, R^2, Run_Time
# Model values: Linear Regression, Ridge Regression, Lasso Regression, Support Vector Regression, Gradient Boost Classification

New features will be created to show a one week trend as well as a four week average.
### NOTE: I want to add features to show momentum (by using how many days in a row it has increased compared to its average increase or decrease), the one month, one quarter, and one year averages, etc.

In [9]:
# Set the variables. Y is the closing value, X is everything else except date and name.
Y = data['Close'].values.reshape(-1, 1).astype('int')
X = data.loc[:, ~(data.columns).isin(['Close', 'Date', 'Name'])].astype('int')


# Create training and test sets.
offset = int(X.shape[0] * 0.9)

# Put 90% of the data in the training set.
X_train, Y_train = X[:offset], Y[:offset]

# And put 10% in the test set.
X_test, Y_test = X[offset:], Y[offset:]

### Binary Logistic Regression Classifier

In [10]:
# Declare a logistic regression classifier.
lr = LogisticRegression(C=1e9)

# Store the time before the model runs the train set
# Look up the other exercise where you compared run times

# Fit the model.
lr.fit(X_train, Y_train)
print('\nR² for the model with train set:')
print(lr.score(X_train, Y_train))
# Make Runtime as currenttime - previoustime
print('Run time for the model with train set:')
#print(Runtime)



print('\nR² for the model with test set:')
print(lr.score(X_test, Y_test))
print('Run time for the model with test set:')
#print(Runtime)
# Store the run time from the test set to the appropriate row/column for the model.

C:\Users\mkennedy\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\utils\validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

R² for the model with train set:
0.0159010600707
Run time for the model with train set:

R² for the model with test set:
0.0
Run time for the model with test set:

# NOTE: Should also analyze the standard deviations of the predictions compared to the actuals as well as the normality of the residuals. Add it to all of the models.

### Ridge Regression Classifier

In [11]:
# Fitting a ridge regression model. Alpha is the regularization
# parameter (usually called lambda). As alpha gets larger, parameter
# shrinkage grows more pronounced. Note that by convention, the
# intercept is not regularized. Since we standardized the data
# earlier, the intercept should be equal to zero and can be dropped.

ridgeregr = linear_model.Ridge(alpha=10, fit_intercept=False) 
ridgeregr.fit(X_train, Y_train)
print('\nR² for the model with train set:')
print(ridgeregr.score(X_train, Y_train))
print('Run time for the model with train set:')
#print(Runtime)
print('\nR² for the model with test set:')
print(ridgeregr.score(X_test, Y_test))
print('Run time for the model with test set:')
#print(Runtime)
# Store the run time from the test set to the appropriate row/column for the model.

R² for the model with train set:
0.999571573947
Run time for the model with train set:

R² for the model with test set:
0.996782126735
Run time for the model with test set:

### Lasso Regression Classifier

In [12]:
lasso = linear_model.Lasso(alpha=.35)
lasso.fit(X_train, Y_train)
print('\nR² for the model with train set:')
print(lasso.score(X_train, Y_train))
print('Run time for the model with train set:')
#print(Runtime)
print('\nR² for the model with test set:')
print(lasso.score(X_test, Y_test))
print('Run time for the model with test set:')
#print(Runtime)
# Store the run time from the test set to the appropriate row/column for the model.

R² for the model with train set:
0.999204760813
Run time for the model with train set:

R² for the model with test set:
0.993521067966
Run time for the model with test set:

C:\Users\mkennedy\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:484: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)

### Support Vector Regression Classifier

In [13]:
# Make a model using SVR here
svr = SVR()
svr.fit(X_train, Y_train)
print('\nR² for the model with train set:')
print(svr.score(X_train, Y_train))
print('Run time for the model with train set:')
#print(Runtime)
print('\nR² for the model with test set:')
print(svr.score(X_test, Y_test))
print('Run time for the model with test set:')
#print(Runtime)
# Store the run time from the test set to the appropriate row/column for the model.

C:\Users\mkennedy\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\utils\validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

R² for the model with train set:
-0.00844129257435
Run time for the model with train set:

R² for the model with test set:
-38.8944788652
Run time for the model with test set:

### Gradient Boosting Classifier

In [ ]:
# 500 iterations, using 2-deep trees, and loss function 'deviance.'
params = {'n_estimators': 500,
          'max_depth': 2,
          'loss': 'deviance'}

# Initialize and fit the model.
clf = ensemble.GradientBoostingClassifier(**params)
clf.fit(X_train, Y_train.ravel())
print('\nR² for the model with train set:')
print(clf.score(X_train, Y_train.ravel()))
print('Run time for the model with train set:')
#print(clf.Runtime)
print('\nR² for the model with test set:')
print(clf.score(X_test, Y_test.ravel()))
print('Run time for the model with test set:')
#print(Runtime)
# Store the run time from the test set to the appropriate row/column for the model.

## Section 3: Selection and Analysis of the Best Performing Model

Display the model comparison table here. Write up an analysis.